<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.com.hotcold.androidapp" >
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/hotnews"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="android.com.hotcold.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="android.com.hotcold.SendNewsFormActivity"
            android:label="@string/title_activity_send_news_form" >
        </activity>
        <activity
            android:name="android.com.hotcold.HotColdZoneActivity"
            android:label="@string/title_activity_hot_cold_zone" >
        </activity>
    </application>

</manifest>
